<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Demo Angular</span>
    </a>
  
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="" class="nav-link" aria-current="page">accueil</a></li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" *ngIf="!isConnected()" > login </a>
        <a (click)="logout()" *ngIf="isConnected()" class="nav-link" > logout </a>
      </li>
      <li class="nav-item" *ngIf="isConnected()">
        <a routerLink="/profil" class="nav-link"> votre profil </a>
      </li>
      <li class="nav-item dropdown">
        <button class="btn dropdown-toggle" type="button" id="demo-menu" data-bs-toggle="dropdown" aria-expanded="false">
          demos
        </button>
        <ul class="dropdown-menu" aria-labelledby="demo-menu">
          <li><a routerLink="/demo/com" class="nav-link">communication</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn dropdown-toggle" type="button" id="exo-menu" data-bs-toggle="dropdown" aria-expanded="false">
          exos
        </button>
        <ul class="dropdown-menu" aria-labelledby="exo-menu">
          <li><a routerLink="/exo/root" class="nav-link">exo</a></li>
          <li><a routerLink="/exo/panier" class="nav-link">panier</a></li>
        </ul>
      </li>
    </ul>
  </nav>