
<h2 [class]="titleClass"> {{ title | quote }} </h2>    
<input type="text" [(ngModel)]="inputValue">
<button class="btn btn-info" (click)="onClick($event)">alert me</button>

<h2 [ngClass]="{ red: inputColor == 'red', blue: inputColor == 'blue', green: inputColor=='green', yellow: inputColor!='red' && inputColor!='green' && inputColor!='blue' }"> Presentation equipe </h2>

<input type="text" [(ngModel)]="inputColor">

<p [ngStyle]="{ color: hexaColor }">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt placeat quos laudantium aliquid iure, ullam fugiat quae aspernatur dolore adipisci, minima consequuntur! Neque tenetur quam atque, nam eveniet non amet dolore? Tenetur est laborum voluptatem unde aliquam delectus optio magni.</p>


<h2> ngIf </h2>

<button (click)="toggleDisplay()" class="btn" [ngClass]="{'btn-info':!visible, 'btn-danger':visible}"> {{ visible ? 'cacher' : 'montrer' }} </button>

<!-- <p *ngIf="visible">texte à cacher</p> -->
<!-- <p [hidden]="!visible">texte à cacher</p> -->


<div *ngIf="visible" class="container">

    <div class="row">     
        <div class="col-3 rectangle" *ngFor="let color of colors; let i=index" [ngStyle]="{'background-color': color}"> {{ i }} </div>
    </div>

    <div [ngSwitch]="hexaColor">
        <div class="row" *ngSwitchCase="'#000000'">     
            <div class="col-3 rectangle"  [ngStyle]="{'background-color': hexaColor}"> </div>
        </div>
        <div class="row" *ngSwitchCase="'#FF0000'">     
            <div class="col-3 offset-3 rectangle"  [ngStyle]="{'background-color': hexaColor}"> </div>
        </div>
        <div class="row" *ngSwitchCase="'#00FF00'">     
            <div class="col-3 offset-6 rectangle"  [ngStyle]="{'background-color': hexaColor}"> </div>
        </div>
        <div class="row" *ngSwitchCase="'#0000FF'">     
            <div class="col-3 offset-9 rectangle"  [ngStyle]="{'background-color': hexaColor}"> </div>
        </div>
    </div>

</div>

<h2> route paramétrée</h2>


<div class="input-group mb-3 container">
  <input type="number" [(ngModel)]="nbrToCheck" class="form-control" placeholder="number to check" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" style="width: 30%;" routerLink="/check-even/{{nbrToCheck}}" type="button" id="button-addon2">check</button>
</div>
