<h2> Les services </h2>

<p>
    Les services en angular sont des outils puissants et versatiles. <br>
    Il s'agit simplement de classe injectable dans n'importe quel élément d'angular(component, pipe, guard, ... ).
    L'idée du service est de mettre en place une boite à outil, de centraliser un certain nombre de fonctionnalité sur thème commun. <br>
    Par exemple, j'ai besoin de centraliser les fonctionnalités permettant de contacter une REST API et gérer des réservation, je crée/utilise ReservationService.      
</p>

<p>
    Parmis la multitude d'utilisation qu'on peut faire des services on peut (par exemple) :
</p>
<ul>
    <li>centraliser des données et l'interaction avec ces données (observable utiles) <a routerLink="/demo/obs">lien vers exemple</a></li>
    <li>centraliser l'interaction avec une REST API <a routerLink="/demo/http">lien vers exemple</a></li>
</ul>